<ul class="autor">
	<li> <h3><%= title %>:Jose Manuel Ortega </h3></li>
	<table style="margin: 0 auto;">
	
	<tr>
	<td>
	<li id="photo">
		 <a href="https://about.me/jmortegac" target="blank" ><img src="/images/aboutme.png" /></a>
	</li>
	</td>
	<td>
	<li id="photo">
		 <a href="https://www.behance.net/jmoc" target="blank" ><img src="/images/behance.png" /></a>
	</li>
	</td>
	</tr>
	
	<tr>
	<td>
	
	<li id="photo">
		 <a href="https://medium.com/@jmortegac" target="blank"><img src="/images/medium.png" /></a>
	</li>
	</td>
	<td>
	<li id="photo">
		 <a href="https://plus.google.com/+JoseManuelOrtegadev/" target="blank"><img src="/images/google.png" /></a>
	</li>
	</td>
	</tr>
	
	<tr>
	<td>
	<li id="photo">
		 <a href="http://www.slideshare.net/jmoc25" target="blank"><img src="/images/slideshare.png" /></a>
	</li>
	</td>
	<td>
	<li id="photo">
		 <a href="https://speakerdeck.com/jmortega" target="blank"><img src="/images/speakerdeck.png" /></a>
	</li>
	</td>
	</tr>
	
	
	<tr>
	<td>
	<li id="photo">
		 <a href="https://projeqt.com/jmortega/profile" target="blank"><img src="/images/projeqt.png" /></a>
	</li>
	</td>
	<td>
	<li id="photo">
		 <a href="https://twitter.com/jmortegac" target="blank"><img src="/images/twitter.png" /></a>
	</li>
	</td>
	</tr>
	</table>
	
	
</ul>

