<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>Bienvenido a <%= title %></h3>
    <p>El portal donde podrá crear sus propios juegos!</p>
    <p><a href="/quizes">Comience el juego</a></p>
  </body>
</html>

