
*        { margin: 0; padding: 0; }

body {
  padding: 10px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#page-wrap           { margin: 2% auto; color: white; }
#page-wrap > .main   { border: 1px solid #999; padding: 1%; 
	                   margin-bottom: 1px; color: black;}

section > div        { padding: 20px; }
header, nav, section { background: #eee; text-align: center;}
footer               { background: #eee; text-align: center;}
nav span             { margin: 0px 10px 0px 0px;} 

table {
  width: 100%;
}